<div class="text-center">
    <h1 class="display-3">PlantZoner</h1>
    <p>A regional agricultural management system.</p>
    <%= link_to "Sign Up", signup_path %>
    or
    <%= link_to "Log In", login_path %>
</div>