<h1><strong><%= @growing_zone.name %></strong></h1>
<hr>
<small>View all <%= link_to "gardens", growing_zone_gardens_path(@growing_zone) %> in this area</small>
<h2>Plants growing in this region:</h2>

<ul>
    <% @plants.each do |p| %>
        <li><%= link_to p.name, plant_path(p) %></li>
    <% end %>
</ul>