<h1><%= current_user.username %>'s Gardens</h1>

<hr>
<% @zones.each do |z| %>
<%= z %>
<ul>
    <% @gardens.each do |g| %>
        <% if g.growing_zone.name == z %>
            <li><%= link_to g.name, user_garden_path(current_user.slug, g) %></li>
        <% end %>
    <% end %>
</ul>
<% end %>